/*Fonts Used*/
@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');

@font-face {
    font-family: "Comic Sans MS";
    src: url('fonts/comicsansmsbold-webfont.woff2') format('woff2'),
         url('fonts/comicsansmsbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "Comic Sans MS";
    src: url('fonts/comicsansmsbold-webfont.woff2') format('woff2'),
         url('fonts/comicsansmsbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



*, *:before, *:after { box-sizing: border-box; -moz-box-sizing: border-box; image-rendering: -webkit-optimize-contrast;}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline; -webkit-text-size-adjust: 100%;}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
button, html input[type=button], input[type=reset], input[type=submit] { -webkit-appearance: button; cursor: pointer; }
input:not([type='radio']):not([type='checkbox']), textarea, select{-webkit-appearance: none;}
form, label {-webkit-text-size-adjust: 100%;}
mark {background-color: transparent;color:inherit;}
/* end reset */

/*preset*/
body{font-family: 'Happy Monkey', cursive; font-size: 18px; line-height: 22px;  color:#333;position:relative;}
body.active{overflow: hidden;width:100%;height:100%;position:fixed!important;}
a{ text-decoration:none; -webkit-transition: all .3s linear;transition: all .3s linear;}
img{max-width: 100%; vertical-align: top; image-rendering: -webkit-optimize-contrast;}
textarea { resize:vertical; }
iframe{ border: none; width: 100%;}
ul, h1, h2, h3, h4{ margin:0; padding:0; list-style:none; }
strong , b{ font-weight: bold;}
em, i{font-style: italic;}
input[type="submit"]{cursor: pointer;}
a[href^="tel:"]{color: inherit!important; text-decoration: none;}

.clearfix:before, .clearfix:after { content:""; display: table; clear: both; }
.clearfix {clear: both; overflow: hidden;}
.comp{color:#0353a1; font-weight:bold; }
.comingsoon{color:red; font-style:italic; font-weight:bold;}
.col2{-webkit-column-count: 2; -moz-column-count: 2; column-count: 2; -webkit-column-gap: 10px; -moz-column-gap: 10px;  column-gap: 10px;}
.col3{-webkit-column-count: 3; -moz-column-count: 3; column-count: 3; -webkit-column-gap: 10px; -moz-column-gap: 10px;  column-gap: 10px;}
.col2 li, .col3 li{display: block; width: 100%;}
.main_phone {font-weight: bold;}

.back_top{display:none;background:#f35f3e;position: fixed; z-index:999;bottom:0;width: 100%;height: 45px;cursor:pointer;}
.back_top:before{content:"";position:absolute;top:45%;left:50%;transform:translate(-50%,-45%);border-bottom:15px solid #fff;border-left:10px solid transparent;border-right:10px solid transparent;}
.back_top:hover{opacity:.7}

/*Heading for SEO*/
.h1_hdng{font-size: 22px; font-weight: 700; color: #000;}

/*Thumbnail Images*/
.thumb_left_dd, .thumb_left_dr{  float:left; margin:-4px 19px 10px 0;}
.thumb_right_dd, .thumb_right_dr{ float:right; margin:-4px 0 10px 19px;}
.thumb_center_dd, .thumb_center_dr{ display: block; margin: 10px auto;}

/* Text Alignment */
.text_left, .text_left p{text-align: left;}
.text_right, .text_right p{text-align: right;}
.text_center,.text_center p{text-align: center; display: block;}

/* Forms Presets */
::-webkit-input-placeholder {opacity: 1; color: inherit;}
::-moz-placeholder {opacity: 1; color: inherit;}
:-ms-input-placeholder {opacity: 1; color: inherit;}
:-moz-placeholder {opacity: 1; color: inherit;}

/*end preset*/

.wrapper{ width:100%; max-width:1400px; margin:0 auto; position:relative;}

/*header*/
header{}
	.header_con{min-height:170px;padding:0;}
	.main_logo{float: left;margin-top: 28px;}
	.main_logo img{}
	.head_info{float: right; text-align: right;margin-top: 12px;display: flex;justify-content: space-between;}
	.header_info{margin: 25px 80px 0 0;}
	.header_info:before{
		content: url(images/icon-phone.png);
		position: absolute;
		right: 64px;
		top: 44px;
	}
	.header_info h2{}
	.header_info h3 {font-size: 19px;margin-bottom: 10px;}
	.header_info h2 span{}
	.header_info mark {color: #49c1ff;font-size: 24px;}

    .social_media ul{display: grid;grid-row-gap: 5px;}
    .social_media ul li{display:block;vertical-align:top;}
    .social_media ul li a{display:block;}
    .social_media ul li a:hover img{opacity:0.5;}
	.social_media figure img{width: 55px;}
/*end header*/

/*nav*/
.page_nav {height: 60px; text-align: center;position: relative;top: -22px;}
.page_nav ul{position: absolute;z-index: 9;}
.page_nav ul li{display:inline-block;vertical-align: top; position:relative;padding: 0 8px;}
.page_nav ul li a{display:block; font-size: 20px; font-weight: normal; color:#fff; line-height: 58px; padding:0 15px;width: 180px;max-width: 100%;
	height: 64px;border-radius: 15px;font-family: Comic Sans MS;}
.page_nav ul li:first-child a{background: #5ba4d4;}
.page_nav ul li:nth-child(2) a{background: #3ae4cc;}
.page_nav ul li:nth-child(3) a{background: #b8e560;}
.page_nav ul li:nth-child(4) a{background: #f9e100;}
.page_nav ul li:nth-child(5) a{background: #f1ad59;}
.page_nav ul li:nth-child(6) a{background: #f35f3e;}
.page_nav ul li:last-child a{background: #aa119e;}

.page_nav ul li:first-child:hover a{background: #000;}
.page_nav ul li:nth-child(2):hover a{background: #000;}
.page_nav ul li:nth-child(3):hover a{background: #000;}
.page_nav ul li:nth-child(4):hover a{background: #000;}
.page_nav ul li:nth-child(5):hover a{background: #000;}
.page_nav ul li:nth-child(6):hover a{background: #000;}
.page_nav ul li:last-child:hover a{background: #000;}

/* .page_nav ul li a:hover, .page_nav ul li a:active, .page_nav ul li.current_page_item > a{opacity: 0.7;} */
/* .page_nav ul li:after{content:"";width:1px;height:22px;background:#000; position:absolute; top:18px; right:-4px;} */
.page_nav ul li:last-child:after{display:none;}

/*second level drop down*/
.page_nav ul li:hover{position: relative; z-index: 599; cursor: default;}
.page_nav ul ul {display: none; position: absolute; top: 100%; left: 0; z-index: 598; width: 200px;margin-top: 0;text-transform: none;}
.page_nav ul ul li {float: none;display:block;font-weight: normal;width:100%;}
.page_nav ul ul ul {top: 0; left: auto; right: -99.5%; }
.page_nav ul li:hover > ul { display: block;}
.page_nav ul ul a, .page_nav ul li.current_page_item ul li a{background:#799847;color:#fff;padding:0;margin:0 auto;}
.page_nav ul ul a:hover,.page_nav ul li.current_page_item ul li a:hover, .page_nav ul ul li.current_page_item a {background:#1a271a;color:#a5ff16;}

/*third level drop down*/
.page_nav ul ul ul { border-top: 0 none; }
.page_nav ul ul li { position: relative }

.page_nav span{position: absolute; right: 25px;top:32px; display: none; padding: 0; cursor: pointer; z-index: 9; color: #fff;text-align: center;}

/* Drop down icon */
.fa{display:block; margin-top: -3px;}
.fa:before{position: absolute;}

/* Navigation bar icon */
.nav_toggle_button{display:none; text-align:left;position:relative;}
.nav_toggle_button.active {opacity:1;}
.nav_toggle_button i{cursor: pointer;}

/*Burger Color*/
.nav_toggle_button .toggle_holder{position: absolute;top: 60%;right: 0;transform: translateY(-50%);}
.nav_toggle_button .hamburger{}
.nav_toggle_button .hamburger-inner, .nav_toggle_button .hamburger-inner:before, .nav_toggle_button .hamburger-inner:after{background:#308eea;}
.nav_toggle_button small{text-transform:uppercase;font-weight:bold;font-size:13px;color:#308eea;display:block;text-align: center;}

/* Default Responsive Style for Toggle Swipe Right */
.menu_slide_right {display: none;}

/*Responsive burger and color*/
.menu_slide_right .hamburger-inner, .menu_slide_right .hamburger-inner:before, .menu_slide_right .hamburger-inner:after{background:#308eea;}
.menu_slide_right .toggle_holder{position: absolute;top: 55%;right: 10px;transform: translateY(-50%);}
.menu_slide_right small{text-transform:uppercase;color:#308eea;font-weight:bold;font-size:13px;display:block;}

/*end nav*/

/*banner*/
	#banner{margin-top: -50px;}
	.bnr_con{min-height:0;padding:0;background: linear-gradient(#2b9ac8,#49c1ff);position: relative;}
	.bnr_con::before{display: block;width: 700px;position: absolute;left: -700px;background: inherit;content: '';height: 100%;top: 0;}
	.box_skitter{}
	.slider{width: 1065px;left: -10px;margin-left: 81%;transform: translateX(-50%);}
	.mobi_ban{display: none;}

	.bnr_info {
		width: 460px;
		max-width: 100%;
		z-index: 150;
		top: 50%;
		position: absolute;
		transform: translateY(-50%);
		left: 0;
	  }

	  /* .bnr_info::before {
		display: block;
		width: 464.2px;
		position: absolute;
		background: url(images/bnr-before.png);
		  background-repeat: repeat;
		content: '';
		height: 106.2px;
		top: -137px;
		background-repeat: no-repeat;
		left: -197px;
	  } */

	  /* .bnr_info::after {
		display: block;
		width: 80.6px;
		position: absolute;
		background: url(images/bnr-after.png);
		  background-repeat: repeat;
		background-repeat: repeat;
		content: '';
		height: 116.8px;
		top: -150px;
		background-repeat: no-repeat;
		left: 188px;
	  } */

	   /* .bnr_info::before {
		display: block;
		width: 464.2px;
		position: absolute;
		background: url(images/bnr-before.png);
		  background-repeat: repeat;
		content: '';
		height: 106.2px;
		top: -137px;
		background-repeat: no-repeat;
		left: -197px;
	  } */

	
	.bnr_before{
		position: absolute;
		width: 464.2px;
		height: 106.2px;
		top: 140px;
		left: -197px;
	}
	.bnr_after{
		position: absolute;
		width: 544.8px;
		height: 208.7px;
		top: 463px;
		left: -150px;
	}


	.bnr_info::before {
		display: block;
		width: 80.6px;
		position: absolute;
		background: url(images/bnr-info-before.png);
		background-repeat: repeat;
		background-repeat: no-repeat;
		content: '';
		height: 116.8px;
		top: -150px;
		right: 194px;
		z-index: -1;
	  }

	.bnr_info h2{color:#fff;margin-bottom:7px;font-family: Comic Sans MS; font-size: 32px;letter-spacing: -1px;line-height: 60px;}
	.bnr_info h2 span{display:block; font-size: 59px;line-height: 50px;color:#fff;}
	.bnr_info p{font-size:16px;color:#fff;line-height:26px; margin-top: 25px;}
	.bnr_info a {
		display: block;
		width: 209px;
		height: 55px;
		line-height: 55px;
		background: #f35f3e;
		font-size: 16px;
		color: #fff;
		text-align: center;
		margin: 32px 0 0;
		border-radius: 24px;
	  }
	.bnr_info a:hover{background:#5ba4d4;}
/*end banner*/

/*middle*/
.midtobottom {background: linear-gradient(#2b9ac8,#49c1ff);}
#middle{}
	.middle_con{min-height:0;padding:25px 0;text-align:center;}
	.middle_boxes {
		position: relative;
		top: -177px;
	  }
	.middle_boxes section{display: inline-block; vertical-align: top;width: 24%;height: auto; }
	.middle_boxes figure {position: relative;}
	.middle_boxes figure:before{
		content:''; 
		display:block; 
		position:absolute;
		background: url(images/dashed.png);
		width: 100%;
		height: 100%;
		background-position-x: center;
		background-position-y: center;
		left: 0;
		top: 0;
		background-repeat: no-repeat;
	}

	.middle_boxes figure img{border-radius: 50%;padding: 10px;}
	.middle_boxes section h2 {
		color: #fff;
		font-family: Comic Sans MS;
		font-size: 28px;
		margin: 20px auto;
		font-weight: 800;
	  }
	  
	.middle_boxes section h2 span{}
	.middle_boxes section p {
		margin: 0 auto 20px;
		font-size: 16px;
		width: 199.2px;
		color: #fff;
	  }
	  .middle_boxes section a {
		display: block;
		width: 173.3px;
		text-align: center;
		margin: 0 auto;
		height: 52.2px;
		background: #f35f3e;
		line-height: 52.2px;
		color: #fff;
		border-radius: 24px;
	  }
	.middle_boxes section a:hover{}

	/* .middle_boxes [class^="mid_box"]{} */

/*end middle*/

/*main*/
#main_area {margin-top: -110px;position: relative;}
/* .main_con:before{
	content:''; 
	display:block; 
	position:absolute;
	background: url(images/main-before.png);
	width: 544.8px;
    height: 208.7px;
    left: -45px;
    top: -49px;
	background-position-x: center;
	background-position-y: center;
	background-repeat: no-repeat;
}
.main_con:after{
	content:''; 
	display:block; 
	position:absolute;
	background: url(images/main-after.png);
	width: 544.8px;
    height: 208.7px;
    right: -65px;
    top: -49px;
	background-position-x: center;
	background-position-y: center;
	background-repeat: no-repeat;
} */
.main_img1 {
    position: absolute;
    width: 544.8px;
    height: 208.7px;
    left: -45px;
    top: -49px;
}

 .main_img2 {
    position: absolute;
    width: 544.8px;
    height: 208.7px;
    right: -65px;
    top: -49px;
  }
  

	.main_con{min-height:0;position: relative;}
	.main_con:before{
			content:''; 
			display:block; 
			position:absolute;
			background: url(images/main_con-before.png);
			width: 80.6px;
			height: 116.8px;
			left: 15px;
			top: 37px;
			background-position-x: center;
			background-position-y: center;
			background-repeat: no-repeat;
			z-index: 99;
	}
	.main_con:after{
			content:''; 
			display:block; 
			position:absolute;
			background: url(images/main_con-after.png);
			width: 80.6px;
			height: 116.8px;
			right: 405px;
			top: -15px;
			z-index: 1;
			background-position-x: center;
			background-position-y: center;
			background-repeat: no-repeat;
			z-index: 99;
		}
		main {width: 100%;line-height: 28px;max-width: 100%;text-align: center;color: #fff;}
		main .h1_title{font-size: 46px;line-height: 50px; font-family: Comic Sans MS; font-weight: bold;margin-bottom:45px;}
		main .h1_title span{ font-size: 25px;font-weight: bold; display: block;}
		main .h1_title small {display: block;font-size: 38px;font-weight: normal;font-family: 'Happy Monkey', cursive; }
		main p{margin-bottom:25px; font-size: 17px;}
		main ol{padding-left: 20px; margin-bottom: 25px;}
		main ul li{position: relative;}
		main .bullet {padding:0;margin-bottom: 25px;}
		main .bullet li{position:relative;padding-left: 25px;margin-bottom: 8px}
		main .bullet li:before{position: absolute;content: "";width: 10px;height: 10px;border-radius: 50%;left: 3px;top: 9px;background: #a80c0c;}
		main a{font-weight: bold; color: #4ba9cf;text-decoration: none;}
		main a:hover{color:#000;text-decoration: underline;}

		#breadcrumbs{border-bottom: 1px dashed gray;padding-bottom: 10px;margin-bottom: 30px;}
    #breadcrumbs span a{color:#f05742;}

		.intro_txt{text-align: center;width:80%;margin:0 auto 25px;padding: 15px;border-bottom: 3px solid #a80c0c;font-weight: bold;font-size: 22px;}



/*end main*/

/*sidebar*/
.sidebar{float: left; width: 320px;}
	.side_box1{padding:10px;background:#259d31;}
	.side_box1 ul{}
	.side_box1 ul li{display: block;vertical-align: top;margin-bottom:5px;}
	.side_box1 ul li a{color: #fff; display: block; line-height: 30px; text-align: center;}
	.side_box1 ul li a:hover{}

/*end sidebar*/

/*bottom*/
#bottom1{position: relative;}
.btm1_con:before{
	content:''; 
	display:block; 
	position:absolute;
	background: url(images/btm1-before.png);
	width: 464.2px;
    height: 106.2px;
    left: 0;
    top: 123px;
	background-position-x: center;
	background-position-y: center;
	background-repeat: no-repeat;
}
.btm1_con:after{
	content:''; 
	display:block; 
	position:absolute;
	background: url(images/btm1-after.png);
	width: 544.8px;
	height: 208.7px;
	right: -257px;
	top: 30px;
	background-position-x: center;
	background-position-y: center;
	background-repeat: no-repeat;
}
.btm1_con{min-height:0;padding: 120px 0 80px;text-align:center;}	
.btm1_info {
    width: 1066.1px;
    float: right;
    text-align: left;
	color: #000;
	border-radius: 14px;
	min-height: 0;
    padding: 40px 105px 80px 274px;
	background: rgb(255, 255, 255, 0.8);
  }

  .btm1_info:before{
	content:''; 
	display:block; 
	position:absolute;
	background: url(images/btm_info-before.png);
	width: 509.7px;
    height: 499px;
	left: 15px;
	top: 90px;
	background-position-x: center;
	background-position-y: center;
	background-repeat: no-repeat;
}
  	.btm1_info h2 {font-family: Comic Sans MS;font-size: 22px;text-transform: uppercase;line-height: 43px;font-weight: bold;}
	.btm1_info h2 span { display: block; font-size: 45px; font-weight: 800;color: #247097;text-transform: capitalize;}
	.btm1_info p{ margin: 40px 0 30px;color: #333;line-height: 30px;}
	
	.btm1_info a {
		width: 173px;
		display: block;
		background: #49c1ff;
		color: #fff;
		height: 55px;
		line-height: 55px;
		text-align: center;
		font-size: 18px;
		border-radius: 25px;
	}

	.btm1_btns {
		display: flex;
		justify-content: space-between;
		top: -47px;
		position: relative;
	
	  }
	.btm1_btns li a {width: 442.7px;display: inline-block;height: 98.4px;line-height: 98.4px; color: #fff; background: #3ae4cc;font-size: 27px;font-weight: 800;font-family: Comic Sans MS;border-radius: 50px;}


	.btm1_btns li:nth-child(2) a{background:#aa119e;}
	.btm1_btns li:last-child a{background:#f35f3e;}


	.btm1_boxes{}
	.btm1_boxes section{display: inline-block; vertical-align: top;width: 32%;height: auto; padding: 10px;background: burlywood;}
	.btm1_boxes section h2{}
	.btm1_boxes section h2 span{}
	.btm1_boxes section p{}
	.btm1_boxes section a{display:block;}
	.btm1_boxes section a:hover{}

	/* .btm1_boxes [class^="btm1_box"]{} */

#bottom2{background: #2091cf;}
 	.btm2_con{min-height:353px;padding: 115px 0;display: flex; justify-content: space-between;}
	 .btm2_left_con {
		color: #fff;
		width: 533px;
	  }
	.btm2_left_con h2{font-family: Comic Sans MS;font-size: 22px; font-weight: bold;text-transform: uppercase;}
	.btm2_left_con h2 span{
		display: block; font-size: 43px;
		text-transform: capitalize;
		margin: 20px 0 34px;
		line-height: 43px;
	}
	.btm2_right_con {
		width: 792.1px;
	  }
	  
	.btm_form {
		width: 100%;
		position: relative;
	}
	.btm_form form {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.btm_form form input[type="email"], .btm_form form input[type="text"] {
		width: 49%;
		height: 50px;
		font-family: 'Happy Monkey', cursive;
		font-size: 17px;
		color: #000;
		border: none;
		background: #fff;
		padding: 0 30px;
		margin-bottom: 12px;
		border-radius: 50px;
	}
	.btm_form form textarea {
		width: 78%;
		height: 52px;
		border-radius: 50px;
		font-family: 'Happy Monkey', cursive;
		font-size: 17px;
		color: #000;
		resize: none;
		border: none;
		background: #fff;
		padding: 16px 30px;
		margin-bottom: 27px;
	}
	.btm_form form button[type="submit"] {
		width: 166.2px;
		height: 60px;
		font-family: 'Happy Monkey', cursive;
		font-size: 18px;
		font-weight: normal;
		border: none;
		color: #fff;
		text-align: left;
		text-align: center;
		border-radius: 50px;
		background: #f35f3e;
		position: relative;
	}
	.btm_form form button[type="submit"]::before {
		content: url(images/arrow1.png);
		position: absolute;
		right: 34px;
		top: 18px;
	}
	.btm_form form button[type="submit"]:hover {
		background: #00a2e5;
	}

	.btm2_left_con p{font-size: 16px;}
	.btm2_boxes{}
	.btm2_boxes section{display: inline-block; vertical-align: top;width: 32%;height: auto; padding: 10px;background: burlywood;}
	.btm2_boxes section h2{}
	.btm2_boxes section h2 span{}
	.btm2_boxes section p{}
	.btm2_boxes section a{display:block;}
	.btm2_boxes section a:hover{}

/*end bottom*/

/*footer*/

footer {
	position: relative;
	height: 745px;
    min-height: 0;
  }
  
  .footer_top {
    position: relative;
    background: url(images/footer-bg.png) no-repeat center;
    min-height: 794.1px;
    top: -113px;
    min-height: 795.1px;
    text-align: center;
    margin: 0 auto;
    position: relative;
	height: 795.1px;
    overflow: hidden;
  }
  
	.footer_top_con {}
	  

		.map{}

		.contact_info {
			bottom: 0;
			top: 0;
			position: absolute;
			left: 0;
			right: 0;
			top: 330px;
			color: #fff;
		  }
		  .contact_info h2 {
			font-size: 24px;
			color: #fff;
			font-family: "Comic Sans MS";
			text-transform: uppercase;
		  }
		  
		  .contact_info h2 span {
			font-size: 50px;
			margin: 20px 0 30px;
			line-height: 50px;
			font-family: "Comic Sans MS";
			display:block;
			text-transform: capitalize;
		  }

		  .contact_info p {
			margin-bottom: 50px;
			font-size: 16px;
		  }
		  
	
		.contact_info ul{margin:0 0 0;padding:0;list-style: none;font-size: 16px;}
		.contact_info ul li{line-height: 22px;display:block; vertical-align:top; white-space:pre-line;position:relative;line-height: 30px;}
		.contact_info ul li address{display:inline-block;line-height: 25px;}
		.contact_info ul li a{color: #fff;}
		.contact_info ul li a[href^="tel:"] {color: inherit;}
		.contact_info ul li a:hover{text-decoration:underline;}
		.contact_info ul li:before{position:absolute;}
		.contact_info ul li:first-child:before{content:url(images/map.png);top:5px;left:0;}
		.contact_info ul li:nth-child(2):before{content:url(images/phone.png);top:5px;left:0;}
		.contact_info ul li:last-child:before{content:url(images/email.png);top:5px; left:0;}

		.footer_logo{}
		.footer_logo img{}

	.footer_btm{background: #2091cf;position: relative; top: -115px;height: 65px;}
		.footer_btm_con{min-height:0;padding:0;}

		.footer_nav{position: relative;top: -24px;}
		.footer_nav ul{ margin: auto 0; padding: 0; text-align: center; list-style: none; }
		.footer_nav ul li{display: inline-block; vertical-align: top;position:relative;padding: 0 8px;}
		.footer_nav ul li a{display: block; padding: 0 15px; color: #fff;height: 64px;line-height: 64px;font-size: 20px;width: 180px;border-radius: 15px;
			font-family: Comic Sans MS;}

			.footer_nav ul li:first-child a{background: #5ba4d4;}
			.footer_nav ul li:nth-child(2) a{background: #3ae4cc;}
			.footer_nav ul li:nth-child(3) a{background: #b8e560;}
			.footer_nav ul li:nth-child(4) a{background: #f9e100;}
			.footer_nav ul li:nth-child(5) a{background: #f1ad59;}
			.footer_nav ul li:nth-child(6) a{background: #f35f3e;}
			.footer_nav ul li:last-child a{background: #aa119e;}

			.footer_nav ul li:first-child:hover a{background: #000;}
			.footer_nav ul li:nth-child(2):hover a{background: #000;}
			.footer_nav ul li:nth-child(3):hover a{background: #000;}
			.footer_nav ul li:nth-child(4):hover a{background: #000;}
			.footer_nav ul li:nth-child(5):hover a{background: #000;}
			.footer_nav ul li:nth-child(6):hover a{background: #000;}
			.footer_nav ul li:last-child:hover a{background: #000;}

		.footer_nav ul li a:hover, .footer_nav ul li a:active, .footer_nav ul li.current_page_item a{}
		/* .footer_nav ul li:after{content:"";width:1px;height:21px;top:0;right:-3px;background:#fff;position:absolute;} */
		.footer_nav ul li:last-child:after{display:none;}

		.footer_comp{display:inline-block; margin:0 25px; position:relative;}
		.footer_comp:before{content:"\2022"; left:-18px; top:0; position: absolute;}
		.footer_comp:after{content:"\2022"; right:-18px; top:0; position: absolute;}

	
		.copyright {
			font-size: 20px;
			position: absolute;
			left: 0;
			right: 0;
			top: 660px;
			color:#fff; margin: 0 auto;text-align: center;
		  }
		  
		.copyrigh_text:hover{text-decoration:none!important;}
		.copyright a{color:#fff;}
		.copyright a:hover{text-decoration:underline;}


/**Resources**/
.resources {}
.resources a {display:block;font-weight:bold; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; transition: all 0.3s linear;}
.resources a:hover {padding-left:2px; text-decoration: none!important; color: red;}
.resources ul,.resources li {list-style-type:none; margin:0; padding:0;}
.resources ul li {margin-bottom:8px; padding:12px; background:#FAFDFE;border:1px solid #ececec;}
.resources ul li:before{content:"";}
.resources ul li:after{content:"";}
.resources ul li a span {font-size:11px; color:#666666; letter-spacing:1px; display:block; overflow-wrap: break-word;word-wrap: break-word;-webkit-hyphens: auto;-ms-hyphens: auto;-moz-hyphens: auto;hyphens: auto;}

/* IE 8 */
.lt-ie8 .dang-ie{width:100%;height:100%;position:fixed;background-color:#00abdd}
.message{text-align:center;color:#fff;font-size:20px;position:absolute;top:20%;left:0;right:0}
.inner-message{position:relative;top:-20%;left:0;right:0;text-align:center;margin:auto}
.inner-message img{position:relative;left:0}
.inner-message a.download{display:block;width:300px;padding:10px;color:#fff;margin:2em auto;border:1px solid #fff}
.terms{color:#fff;font-size:13px;padding:20px;position:absolute;right:0;bottom:0}
.terms a{color:#fff;font-weight:700}
.lt-ie8 .protect-me{display:none}

/* Sitemap Style */
.sitemap{list-style-type: none; padding: 0; -webkit-column-count: 2; -moz-column-count: 2; column-count: 2; -webkit-column-gap: 3px; -moz-column-gap: 3px;  column-gap: 3px;}
.sitemap li {counter-increment: step-counter; overflow: hidden;}
.sitemap li{padding:5px 15px; background: #E3E3E3;}
.sitemap li:nth-child(odd){background: #F2F2F2;}
.sitemap li a{display: block;}
.sitemap li a:before {content: counter(step-counter) '. ';}

/* Pages under Certain Parent Pages */
.sitemap ul {margin-top: 5px;}
.sitemap ul li:nth-child(odd){background: #E3E3E3;}
.sitemap ul li:nth-child(even){background: #F2F2F2;}
.sitemap ul li {counter-increment: sub-counter;}
.sitemap ul li a:before {content: counter(step-counter) '.' counter(sub-counter) ' ';}

/* Breadcrumb Styling */

#breadcrumbs{border-bottom: 1px dashed gray;padding-bottom: 10px;margin-bottom: 30px;}
#breadcrumbs span a{color:#cc9901;}

.breadcrumbs {margin-bottom: 34px; border-bottom: 1px dotted gray; padding-bottom: 11px; }
.breadcrumbs span{vertical-align: bottom;display: inline-block; overflow: hidden;text-overflow: ellipsis;}
.breadcrumbs span[property='name'] {display: inline-block;padding: 0;margin-top: -3px;vertical-align: middle;max-width: 270px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;color:#439b4f;}
.breadcrumbs span[property='name']:hover {text-decoration: underline;}
.breadcrumbs .post {background:transparent!important;border-radius: 0;padding: 0;margin: 0;border: none;word-wrap: normal;}
.breadcrumbs span[class='post post-page current-item'] {display: inline-block;padding: 0;max-width: 250px;white-space: nowrap;}

/* End Breadcrumb Styling */

/* Non-home */
.non_ban {position: relative;}
.non_ban_img{width: 1920px;margin-left: 50%;transform:translateX(-50%);}
.non_ban_img img{vertical-align:middle;height: auto;}

.page_title{text-align: center;width: 100%;z-index: 2;position: absolute;bottom: 0;font-size: 44px;line-height: 100%;padding: 15px;background: rgba(0,0,0,.5);}
